{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Dungeon Boxes</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Dungeon Boxes</h1>


<figure>
  <img src="{% static 'images/photos/IMG-2622.JPG' %}" width = 33% style="float: left;">
</figure>
<figure>
  <img src="{% static 'images/photos/IMG-2628.JPG' %}" width = 33% style="float: left;">
</figure>
<figure>
  <img src="{% static 'images/photos/IMG-2621.JPG' %}" width = 33% style="float: left;">
</figure>
<div style="margin-bottom: 30px; margin-top: 30px; width: 500px; margin: auto; opacity: 0;">
  SPACE
</div>
<h2 style = 'text-align: center;'>Sizing, Information, and Pricing</h2>

<img>
<div id = "description">
  <h3>Large Fully Loaded Dungeon Box</h3>
  <ul>
    <li>14" x 12" x 6"</li>
    <li>Mini Storage (blue)</li>
    <li>Dice Jail (yellow)</li>
    <li>Dice Roller (green)</li>
    <li>Additional Storage (white)</li>
    <br>
    Price: $249 (Custom additions + $100)
  </ul>
</div>
<div id = "large_box">
  <div id = "minis">Top</div>
  <div id = "jail"></div>
</div>

<div id = "large_box">
  <div id = "storage">Bottom</div>
</div>
<br><br><br><br>
<div id = "description">
  <h3>Medium Dungeon Box</h3>
  <ul>
    <li>12" x 10" x 4"</li>
    <li>Mini Storage (blue)</li>
    <li>Dice Jail (yellow)</li>
    <li>Dice Roller (green)</li>
    <li>Additional Storage (white)</li>
    <br>
    Price: $195 (Custom additions + $100)
  </ul>
</div>
<div id = "med_box">
  <div id = "jail">Top</div>
  <div id = "minis"></div>
  <div id = "empty"></div>
</div>
<div id = "med_box">
   <div id = "storage">Bottom</div>
</div>
<br><br><br><br>
<div id = "description">
  <h3>Small Dungeon Box</h3>
  <ul>
    <li>6" x 5" x 3"</li>
    <li>Mini Storage (blue)</li>
    <li>Dice Jail (yellow)</li>
    <li>Dice Roller (green)</li>
    <li>Additional Storage (white)</li>
    <br>
    Price: $85 (Custom additions + $50)
  </ul>
</div>
<div id = "small_box">
  <div id = "jail">Top</div>
  <div id = "minis"></div>
</div>

<div id = "small_box">
  <div id = "storage">Bottom</div>
</div>
<br><br><br><br>
<div id = "description">
  <h3>Basic Dice Tray</h3>
  <ul>
    <li>6" x 5" x 2"</li>
    <li>Dice Roller (green)</li>
    <br>
    Price: $60 (Custom additions + $20)
  </ul>
</div>
<div id = "tray">
</div>
<br><br><br><br>
<h2>Interested in creating your own? Complete the <a href="{% url 'form' %}">Commission Form!</a></h2>
<br>
  <a href= "{% url 'main' %}" >Home</a>
</body>
</html>